@charset "UTF-8";

body {
    background: rgba(255, 0, 0, 0.288);
    color:rgb(119, 76, 159);

}  


h1 {
    color:rgb(202, 231, 153);
}

p {
    color:rgb(0, 255, 255);
    font-size: 30px;
    text-align: center;
    border-bottom: 60px solid rgb(119, 76, 159);
}